<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Articles</h1>
    </div>
    <div class="bottom-align-text col-sm-6">
      <% if current_user && current_user.has_role?(:contributor) %>
        <%= link_to 'New Article', new_article_path%>
      <% end %>
    </div>
  </div>
  <br>

  <table>
    <thead>
      <tr>
        <th class="col-lg-3">Term</th>
        <th class="col-lg-6">Definition</th>
        <th class="col-lg-3">Author</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.term, article %></td>
          <td><%= article.definition %></td>
          <td><%= article.user.email %></td>
          <% if current_user && current_user.has_role?(:contributor) %>
          <td><%= link_to 'Show', article %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
